<div id="wrapper">
		<div class="text-xl font-mono w-full max-w-5xl p-10 flex-col">

			<div class="flex w-full justify-between">
				<h3 class="my-auto"> Admin Page </h3>
				<form action="/logout" method="POST" class="";>
					<input type="submit" class="bg-black px-4 py-2 rounded-full text-white" value="Logout">
				</form>
			</div>

			<div class="flex h-screen">
				
			</div>

		</div>
</div>

<script type="text/javascript">


</script>