<div id="wrapper">
	<div id="main">
		<div class="inner">
			<section id="home-section">
				<div id="image03" class="image">
					<span class="frame"><img src="assets/images/image03.png" alt="" /></span>
				</div>
				<div id="columns01" class="container columns">
					<div class="wrapper">
						<div class="inner">
							<div>
								<h2 id="text03">Coming Soon, <br> Near You.</h2>
								<p id="text02">Do It <em>LAB</em> is a space for you to prototype physical products. Join a <strong>community</strong> of likeminded makers and entrepreneurs - Access the professional tools that <strong>you</strong> need to develop <strong>your idea</strong>.</p>
								<p id="text01">Info</p>
								<p id="text08"><span>We seek to grow a culture of mutual support and entrepreneurialism. Hang out with likeminded people to share in good coffee and good ideas.</span><br /><br /><span>We are planning our first Do It <em>LAB</em> in the Richmond area of South West London to open later in 2022 and we would love for you to become a member. We encourage you to use the space as the base to grow your business, receive mail or use as your own office. We will also be equipped with powerful rendering computers, 3D printers, CNC, CAD and coffee machines for you to use. If you have any suggestions or requests please let us know <a href="/suggestions">here</a></span></p>
								<p id="text07"><strong>Let us know you like this idea by <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%74%6f%6d%40%74%74%63%72%65%61%74%69%76%65%2e%6c%69%6d%69%74%65%64">email</a> or Tweet.</strong></p>
								<div id="embed01">
									<a href="https://twitter.com/intent/tweet?screen_name=maker_tt&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @maker_tt</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
								</div>
								<p id="text09"><span><strong>Pricing:</strong></span><br /><span>Each 4hr Workslot : £32.50 | <em>LAB</em> Workspace Membership : £495/month</span><br /><br /><span>Morning 10am-2pm | Afternoon 2pm-6pm | Evening 6pm - 10pm | 7 Days A Week</span><br /><br /><span>A <em>LAB</em> Workspace Membership gives you 6x4hr slots per week to allocate in the bookings diary as you choose. Thats 3 full days of development onsite per week!</span><br /><br /><span>Not for you? <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%74%6f%6d%40%74%74%63%72%65%61%74%69%76%65%2e%6c%69%6d%69%74%65%64">Tell us why.</a></span></p>
								<p id="text06"><strong>Capacity is limited</strong> - If you would like to secure a <em>LAB</em> we ask for a £1 deposit to save your space.</p>
								<div id="widget01" class="stripe-checkout"><button>I'm Interested!</button></div>
								<script>
									document.querySelector('#widget01 > button').addEventListener('click', function() {
										Stripe('pk_live_51H3MeNA2JQlRN2RHK86GbgAclB1ITBU10quHLVhJTbP4HT7TSsqu1gouQopU2PIJ8dsPfhT79w2cMPteOKbtFhLH00Q4alikEs').redirectToCheckout({
											lineItems: [{ price: 'price_1IOnyfA2JQlRN2RHzYZ8DPoz', quantity: 1 }],
											submitType: 'pay',
											mode: 'payment',
											billingAddressCollection: 'required',
											successUrl: 'https://makerlab.ttcreative.limited/#done',
											cancelUrl: 'https://makerlab.ttcreative.limited',
										}).then(function (result) {
											if (result.error)
												alert('Error: ' + result.error.message);
										});
									});
								</script>
								<ul id="links01" class="links">
									<li class="n01">
										<a href="https://ttcreative.limited">We thank you for supporting us by securing your spot at Do It LAB - Tom &amp; Jasper | TT Creative</a>
									</li>
								</ul>
							</div>
							<div class="full">
								<div id="image01" class="image full" data-position="center">
									<span class="frame deferred"><img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjAiIHk9IjAiIHZpZXdCb3g9IjAgMCAxMzU2IDE5MjAiIHdpZHRoPSIxMzU2IiBoZWlnaHQ9IjE5MjAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyZWN0IGZpbGw9IiM3ODc5NzgiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiLz48L3N2Zz4%3D" data-src="assets/images/image01.jpg" alt="" /></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="done-section">
				<div id="container02" class="container default full screen">
					<div class="wrapper">
						<div class="inner">
							<h2 id="text05">Thank You</h2>
							<p id="text04">We are excited for you to join us so you will likely hear from us soon with an update.</p>
							<ul id="buttons01" class="buttons">
								<li>
									<a href="#" class="button n01">Back</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
<script src="https://js.stripe.com/v3/"></script>
<script src="assets/main.js"></script>